<h3> The content has been modified </h3>
<div> 
   <ul>
      <li> Node Bundle : <strong>{{ bundle }}</strong></li>
      <li> Node ID : <strong>{{ id }}</strong></li>
      <li>Node Title : <strong>{{ title }}</strong></li>
   </ul>
</div>